version: "3.9"

services:

  app:
    image: tomcat:10.1-jdk21
    container_name: spring-war-app
    depends_on:
      - db
    ports:
      - "8080:8080"
    volumes:
      - ./target/banco-internacional-prueba-tecnica-0.0.1.war:/usr/local/tomcat/webapps/ROOT.war
    env_file:
      - .env
    networks:
      - backend

  db:
    image: postgres:16
    container_name: banco-postgres
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
